
target/
dbt_packages/
logs/
.user.yml
env.bat
dbt.env
dbt_starter2.code-workspace
circle.py
Python Scripts
comments_fetch.log
posts.csv
bbg-platform-9b535c1b7c76.json
comments_with_extracted.csv
comments.csv
member_tags.csv
members.csv
spaces.csv
load_comments_posts.py
load_csv_bigquery.py
load_members_spaces_tags.py
circle
models/staging/circle/load_comments_posts.py
models/mart/deal_check.sql
coursewatch.py
fct_hs_contact.sql
snapshot_hs_contact.sql
fct_mm_pageviews.sql
models/mart